@import url(https://fonts.googleapis.com/css?family=Chewy);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  /*background: linear-gradient(to right, #FFB88C, #DE6262);*/
  font-family: 'Chewy';
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.bg-image {
  background-image: url(Rudy-I-Ja.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(7px);
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

#container {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.5);
}

header {
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
  color: white; 
  text-align: center;
  padding: 10px;
}

h1, h2, h3 {
  margin: 0;
}

main {
  padding: 10px;
  display: flex;
}

aside, main {
  color: black;
}

aside {
  width: 180px;
  border-right: 2px dotted black;
  padding: 10px 20px;
}

aside ul {
  padding-left: 15px;
}

#content {
  width: 600px;
  padding: 10px 20px;
}

#content ul {
  padding-left: 15px;
}

footer {
  text-align: right;
  padding: 10px;
  background: linear-gradient(to left, #267871, #136a8a);
  color: white;
}

p {
  margin-top: 10px;
}
